.btn
   font-family: "Avenir Next LT Pro - Demi"
   font-size: 15px
   font-weight: 400
   border: none
   padding: 17px 42px 15px 42px
   border-radius: 23px
   align-items: center
   &-white
      background-color: #fff9f6
      color: #f45e1f
      &-outline
         padding: 17px 40px 15px 53px
         color: #ffffff
         border: 1px solid #ffffff
         background: url(../img/place-icon.svg) 36px 15px no-repeat
