nav
   ul
      display: flex
      padding-bottom: 15px
      position: relative
      &::after
         content: ''
         position: absolute
         width: 93.9%
         height: 2px
         background-color: #d1d3de
         opacity: 0.25
         top: 37px
         z-index: 0
      li
         margin-right: 30px
         list-style: none
         margin-left: 10px
         transition: 0.3s

         &:first-child
            margin-left: 0px
            a
               padding-left: 0
               &::after
                  left: 0px

         &:last-child
            margin-right: 0px
            a

               &::after
                  left: 0px
         a
            padding-left: 20px
            color: #ffffff
            font-family: "Avenir Next LT Pro - Demi"
            font-size: 15px
            font-weight: 400
            text-decoration: none
            position: relative
            transition: 0.3s
            
            &::after
               content: ''
               position: absolute
               width: 100%
               height: 6px
               background-color: #f45e1f
               left: 10px
               top: 32px
               opacity: 0
               transition: 0.3s
               z-index: 10
            &:first-child
               

            &:hover
               transition: 0.3s
               &::after
                  transition: 0.3s
                  opacity: 1
            

