@import 'btn'
@import 'nav'


.inside 
	width: 1158px
	margin: 0px auto
	padding: 0px 0px
	max-width: 100%
p
	margin: 0
body
	margin: 0
button
	outline: none
	cursor: pointer 

.d-flex 
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  flex-wrap: wrap

.f-justify-content
	justify-content: space-between

.main-screan
	background: url(../img/bg-main.png) center no-repeat
	height: 100vh 

header
	padding-top: 24px
	align-items: center
.header
	&__nav

	&__button

.main-screen
	max-width: 60%
	margin-top: 21%
	&__title
		margin-bottom: 14px
		h1
			color: #ffffff
			font-family: "Avenir Next LT Pro"
			font-size: 65px
			font-weight: 700
			line-height: 65px
			margin: 0
	&__pretitle
		margin-bottom: 30px
		max-width: 60%

		p
			color: #ffffff
			font-family: "Avenir Next LT Pro"
			font-size: 15px
			font-weight: 400
			line-height: 25px
	&__learn-more
		align-items: center
		p
			color: #fffefe
			font-family: "Avenir Next LT Pro - Demi"
			font-size: 12px
			font-weight: 400
			line-height: 26px
			text-transform: uppercase
			margin-right: 33px
	&__buttons
		margin-bottom: 17%
		button
			margin-right: 25px
.learn-more
	&__line
		width: 443px
		height: 1px
		background-color: #ffffff
		opacity: 0.4
	&__arrow
		border-radius: 100%
		border: 1px solid #ffffff
		opacity: 0.4
		img
			padding: 27px 30px 23px
		
.choice
	padding-bottom: 156px
	background-color: #f6f7fb
	padding-top: 20px
	.inside
		position: relative
		background-color: #f6f7fb
		margin-top: -70px

	&__title
		padding-top: 20px

		margin-bottom: 130px
		text-align: center
		p
			color: #b4b4b4
			font-family: "Avenir Next LT Pro - Demi"
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			letter-spacing: 0.6px
	&__blocks
		justify-content: center
	&__block
		max-width: 246px
		max-height: 330px
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.02)
		border-radius: 10px
		background-color: #ffffff
		padding:  40px 46px 37px 38px
		margin-right: 35px
		margin-left: 35px
		&-img
			margin-bottom: 27px
			
		&-title
			margin-bottom: 20px
			p
				color: #273164
				font-family: "Avenir Next LT Pro - Demi"
				font-size: 24px
				font-weight: 400
		&-descr
			margin-bottom: 34px
			p
				color: #b4b4b4
				font-family: "Avenir Next LT Pro"
				font-size: 14px
				font-weight: 400
				line-height: 22px
		&-link
			a
				color: #f45e1f
				font-family: "Avenir Next LT Pro"
				font-size: 13px
				font-weight: 400
				text-decoration: underline
				letter-spacing: -0.26px
		&-blue
			background-color: #273164
			.choice__block
				&-title
					p
						color: #ffffff
				&-descr
					p
						color: #ffffff
			